@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,700,700i);


body {
  font-family: 'Open Sans','Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
}

.remark-code, .remark-inline-code {
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 80%;
}
